@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --transparent-background: rgba(211, 211, 211, 0.5);
}

body {
  font-family: "Pixelify Sans", "Roboto", sans-serif;
  height: 100vh;
  background-image: url(../assets/background.jpeg);
  background-size: cover;
  font-size: 20px;
}
.pokemon-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.pokemon-card {
  border-radius: 1rem;
  background-color: var(--transparent-background);
  padding: 0.5rem;
}
.pokemon-card > * {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.home-screen {
  padding: 2rem;
  background-color: var(--transparent-background);
}

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-outcome-message {
  font-size: 4rem;
  background-color: var(--transparent-background);
  padding: 1rem;
}

.bordered {
  border: 2px solid black;
  border-radius: 1rem;
}
